# Maven build directory
/target/

# IntelliJ IDEA
*.iml
.idea/

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# JARs or native output
*.jar

# Temp files
*.tmp
*.swp
